firrtl.pdf
sim/*.v
sim/*.vcd
test.fuse
compiled/
README.html
*.o
benchmarks/_headers/
benchmarks/*.futil
*.pre
*.out
*.run*
Cargo.lock
target
*.bak
.DS_Store
*.png
*.dot
*.vcd
*.sav
node_modules
*.json
*.res
*.ipynb_checkpoints
*.old