[package]
name = "futil"
version = "0.1.0"
authors = ["Samuel Thomas <sgt43@cornell.edu>", "Kenneth Fang <kwf37@cornell.edu>"]
edition = "2018"
build = false

[dependencies]
structopt = "~0.3"
calyx = { path = "calyx" }
pest = "2.0"

[workspace]
members = ["calyx"]
exclude = ["site"]