[package]
name = "futil"
version = "0.1.2"
authors = [ "The Calyx Team" ]
edition = "2018"
build = false
license-file = "LICENSE"
keywords = ["ir", "compiler"]
repository = "https://github.com/cucapra/calyx"
readme = "README.md"
description = "Compiler Infrastructure for Hardware Accelerator Generation"
categories = ["compilers"]

[dependencies]
calyx = { path = "calyx", version = "0.1.0" }
pest = "2.0"
itertools = "0.9.0"
atty = "0.2.14"
argh = "0.1"
vast = "0.3.0"
serde = "1.0.129"
quick-xml = { version = "0.22.0", features = ["serialize"] }

[workspace]
members = ["calyx", "interp", "web/rust"]
exclude = ["site"]

[dev-dependencies]
criterion = {version = "0.3", features=["html_reports"]}

[[bench]]
name = "component-sharing"
harness = false
