ver = "0.2.7"

# NOTE(rachit): `name` should only use lower case words. This makes it easier
# remember how to match specific test suite names.
[[tests]]
name = "list passes"
paths = [ "tests/list-passes/out" ]
cmd = "./target/debug/futil --list-passes"

[[tests]]
name = "unit tests"
paths = [ "tests/unit/*.futil" ]
cmd = "./target/debug/futil {} -d well-formed -b verilog --verilator"

# =============== FuTIL tests ==================

[[test]]
name = "(futil) source lowering"
paths = [ "tests/futil-sources/*.expect" ]
cmd = "./target/debug/futil {}"
expect_dir = "tests/integration-futil-lowered"

[[tests]]
name = "(futil) verilog generation"
paths = [ "tests/futil-sources/*.expect" ]
cmd = "./target/debug/futil {} -b verilog --verilator"
expect_dir = "tests/integration-verilog"

[[tests]]
name = "(futil) verilog simulation"
paths = [ "tests/futil-sources/*.expect" ]
cmd = "./bin/futil-jq-simulation {}"
expect_dir = "tests/integration-simulation"


# ============ Dahlia tests ==================

[[tests]]
name = "(dahlia) frontend"
paths = [ "tests/integration-dahlia-sources/*.fuse" ]
cmd = "./bin/find-dahlia {} -b futil --lower -l error | tail -n+2"
expect_dir = "tests/integration-futil/"

[[tests]]
name = "(dahlia) lowering"
paths = [ "tests/integration-dahlia-sources/*.fuse" ]
cmd = "./bin/find-dahlia {} -b futil --lower -l error | ./target/debug/futil"
expect_dir = "tests/integration-futil-lowered"

[[tests]]
name = "(dahlia) verilog generation"
paths = [ "tests/integration-dahlia-sources/*.fuse" ]
cmd = "./bin/find-dahlia {} -b futil --lower -l error | ./target/debug/futil -b verilog --verilator"
expect_dir = "tests/integration-verilog"

[[tests]]
name = "(dahlia) verilog simulation"
paths = [ "tests/integration-dahlia-sources/*.fuse" ]
cmd = "./bin/dahlia-jq-simulation {} ''"
expect_dir = "tests/integration-simulation"

[[tests]]
name = "(dahlia) dynamic verilog simulation"
paths = [ "tests/integration-dahlia-sources/*.fuse" ]
cmd = "./bin/dahlia-jq-simulation {} '-d static-timing'"
expect_dir = "tests/dynamic-simulation"

[[tests]]
name = "dynamic comparison"
paths = [ "tests/dynamic-simulation/*.expect" ]
cmd = """#!/bin/bash
name=$(basename {})
/bin/bash -c "diff <(jq -S 'del(.cycles)' tests/dynamic-simulation/$name) <(jq -S 'del(.cycles)' tests/integration-simulation/$name)"
"""
expect_dir = "tests/dynamic-static"


# ================ Polybench tests ====================== #

[[tests]]
name = "(polybench) (dahlia) frontend"
paths = [ "benchmarks/*.fuse" ]
cmd = """
./bin/find-dahlia {} -b futil --lower -l error | tail -n+2
"""
expect_dir = "benchmarks/futil"

[[tests]]
name = "(polybench) simulation"
paths = [ "benchmarks/*.fuse" ]
cmd = """
base=$(basename -s .fuse {})
./bin/run-benchmark {} benchmarks/data/$base.data | tail -n+2
"""
expect_dir = "benchmarks/simulation/"

# =============== Polybench unrolled tests ====================

[[tests]]
name = "(polybench) (dahlia) frontend unroll"
paths = [ "benchmarks/unrolled/*.fuse" ]
cmd = """
./bin/find-dahlia {} -b futil --lower -l error | tail -n+2
"""
expect_dir = "benchmarks/futil-unrolled/"

[[tests]]
name = "(polybench) unroll simulation"
paths = [ "benchmarks/unrolled/*.fuse" ]
cmd = """
base=$(basename -s .fuse {})
./bin/run-benchmark {} benchmarks/data/$base.data | tail -n+2
"""
expect_dir = "benchmarks/simulation/"

# ================ Systolic array tests ====================== #
[[tests]]
name = "(systolic array) frontend"
paths = [ "systolic-lang/tests/sizes/array-*" ]
cmd = """
./systolic-lang/gen-systolic.py $(cat {})
"""
expect_dir = "systolic-lang/tests/futil/"

[[tests]]
name = "(systolic array) verilog generation"
paths = [ "systolic-lang/tests/futil/*.expect" ]
cmd = """
./target/debug/futil {} -b verilog --verilator
"""
expect_dir = "systolic-lang/tests/verilog/"

[[tests]]
name = "(systolic array) simulation"
paths = [ "systolic-lang/tests/verilog/*.expect" ]
cmd = """
DATA=./systolic-lang/tests/data ./bin/gen-vcd {} 2>/dev/null | vcdump | jq -f {}.jq

"""
expect_dir = "systolic-lang/tests/simulation/"
