[package]
name = "interp"
version = "0.1.0"
authors = ["The FuTIL authors"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
structopt = "~0.3"
calyx = { path = "../calyx" }
bitvec = "0.22.3"
smallvec = "1.6.1"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
itertools = "0.10.1"
ndarray = { version = "0.15.3", features = ["serde"]}

[dependencies.serde_with]
version = "1.6.4"
