ver = "0.2.8"

[[tests]]
name = "Simple tests"
paths = [
    "tests/simple_tests/*.futil"
]

cmd = """
../target/debug/interp {}
"""

[[tests]]
name = "Assorted tests"
paths = [
    "tests/assorted_tests/*.futil"
]

cmd = """
../target/debug/interp {}
"""

[[tests]]
name = "Should panic tests"
paths = [
    "tests/should_panic_tests/*.futil"
]

cmd = """
../target/debug/interp {}
"""

[[tests]]
name = "Interpreter tests"
paths = [
    "tests/*.futil"
]

cmd = """
../target/debug/interp {}
"""
