ver = "0.2.8"

# Check basic functionality of the interpreter
[[tests]]
name = "unit"
paths = [
  "tests/unit/*.futil"
]
cmd = """
  ../target/debug/interp {} | jq .memories
"""

[[tests]]
name = "errors"
paths = [
    "tests/errors/*.futil"
]

cmd = """
../target/debug/interp {}
"""

# [[tests]]
# name = "Assorted tests"
# paths = [
#     "tests/assorted_tests/*.futil"
# ]

# cmd = """
# ../target/debug/interp {} | jq .memories
# """


[[tests]]
name = "primitives"
paths = [
    "tests/primitives/*.futil"
]
cmd = """
../target/debug/interp {} | jq .memories
"""

[[tests]]
name = "par to seq"
paths = [
      "tests/control/par_reg.futil",
      "tests/control/par_mem.futil"
]
cmd = """
../target/debug/futil {} -d par-to-seq -l ../ | ../target/debug/interp | jq .memories
"""

[[tests]]
name = "control"
paths = [
    "tests/control/*.futil",
    "tests/control/iteration/*.futil"
]
cmd = """
../target/debug/interp {} | jq .memories
"""

[[tests]]
name = "fully structural"
paths = [
    "tests/control/*.futil",
  # Disabled iteration tests due to bug
  #    "tests/control/iteration/*.futil"
]
cmd = """
../target/debug/futil {} -d static-timing -d pre-opt -d post-opt -l ../ | ../target/debug/interp | jq .memories
"""
expect_dir = "tests/lowered/"
