ver = "0.3.2"

# Check basic functionality of the interpreter
[[tests]]
name = "unit"
paths = [
  "tests/unit/*.futil"
]
cmd = """
  ../target/debug/interp {} | jq .memories
"""
timeout = 3

[[tests]]
name = "errors"
paths = [
    "tests/errors/*.futil"
]

cmd = """
../target/debug/interp {}
"""
timeout = 3

[[tests]]
name = "complex"
paths = [
    "tests/complex/*.futil"
]

cmd = """
../target/debug/interp {}
"""
timeout = 3

[[tests]]
name = "primitives"
paths = [
    "tests/primitives/*.futil"
]
cmd = """
../target/debug/interp {} | jq .memories
"""
timeout = 3

[[tests]]
name = "par to seq"
paths = [
      "tests/control/par_reg.futil",
      "tests/control/par_mem.futil"
]
cmd = """
../target/debug/futil {} -p par-to-seq -l ../ | ../target/debug/interp | jq .memories
"""
timeout = 3

[[tests]]
name = "control"
paths = [
    "tests/control/*.futil",
    "tests/control/iteration/*.futil",
    "tests/control/static/*.futil"
]
cmd = """
../target/debug/interp {} | jq .memories
"""
timeout = 3

[[tests]]
name = "invoke"
paths = [
  "tests/control/invoke/*.futil"
  ]
cmd = """
fud e {} --to interpreter-out -s interpreter.data {}.data 2> /dev/null | jq .memories
"""

[[tests]]
name = "invoke comp"
paths = [
  "tests/control/invoke/*.futil"
  ]
cmd = """
fud e {} --to interpreter-out -s interpreter.data {}.data -s futil.flags "-p compile-invoke" 2> /dev/null | jq .memories
"""

[[tests]]
name = "invoke (CIDR)"
paths = [
  "tests/control/invoke/*.futil"
  ]
cmd = """
fud e {} --to debugger -s interpreter.data {}.data  -s interpreter.debugger.flags " --pass-through" 2> /dev/null | jq .memories
"""

[[tests]]
name = "invoke comp (CIDR)"
paths = [
  "tests/control/invoke/*.futil"
  ]
cmd = """
fud e {} --to debugger -s interpreter.data {}.data -s futil.flags "-p compile-invoke" -s interpreter.debugger.flags " --pass-through" 2> /dev/null | jq .memories
"""

[[tests]]
name = "fully structural"
paths = [
    "tests/control/*.futil",
  # Disabled iteration tests due to bug
  #    "tests/control/iteration/*.futil"
]
cmd = """
../target/debug/futil {} -d pre-opt -d post-opt -p remove-comb-groups -l ../ | ../target/debug/interp | jq .memories
"""
expect_dir = "tests/lowered/"
timeout = 3


[[tests]]
name = "unit (CIDR)"
paths = [
  "tests/unit/*.futil"
]
cmd = """
  ../target/debug/interp {} debug -p | jq .memories
"""
timeout = 3

[[tests]]
name = "primitives (CIDR)"
paths = [
    "tests/primitives/*.futil"
]
cmd = """
../target/debug/interp {} debug -p | jq .memories
"""
timeout = 3

[[tests]]
name = "control (CIDR)"
paths = [
    "tests/control/*.futil",
    "tests/control/iteration/*.futil"
]
cmd = """
../target/debug/interp {} debug -p | jq .memories
"""
timeout = 3

[[tests]]
name = "fully structural (CIDR)"
paths = [
    "tests/control/*.futil",
  # Disabled iteration tests due to bug
  #    "tests/control/iteration/*.futil"
]
cmd = """
../target/debug/futil {} -d pre-opt -d post-opt -p remove-comb-groups -l ../ | ../target/debug/interp debug -p | jq .memories
"""
timeout = 3

[[tests]]
name = "fully structural static"
paths = [
  "tests/control/static*.futil"
]
cmd = """
../target/debug/futil {} -d pre-opt -d post-opt  -l ../ | ../target/debug/interp | jq .memories
"""
expect_dir = "tests/lowered/"
timeout = 3
