.token.diff-addition {
    background: hsla(120,100%,75%,0.4);;
}
.token.diff-deletion {
    background: hsla(0,100%,75%,0.4);;
}

span.line.diff-addition {
    background: hsla(120,100%,75%,0.2);;
}

span.line.diff-deletion {
    background: hsla(0,100%,75%,0.2);;
}

span.line {
    width: 100%;
    display: block;
}
