:root {
    --bg-color: white;
    --dark-text-color: black;
    --light-text-color: white;
    --edit-code-bg: hsl(44, 87%, 94%);
    --view-code-bg: hsl(44, 50%, 97%);
    --border-color: rgba(0, 0, 0, 0.5);

    --border-radius: 4px;
}

body {
    color: var(--dark-text-color);
    background: var(--bg-color);
}
