/* ==== Styles for toggle buttons ====*/

.toggle {
    background: var(--bg-color);
    color: var(--dark-text-color);
    border: 0.5px solid #452981;
    border-radius: 6px;
    padding: 0.2em 0.4em;
    /* margin: 0.4em; */
}

.toggle:focus {
    border-radius: 6px;
}

.toggle.on {
    background: hsl(331, 63%, 70%);
    color: var(--light-text-color);
}

.toggle:hover {
    box-shadow: 0 0 1px 1px hsl(331, 63%, 65%);
}
