[package]
name = "calyx-utils"
version = "0.1.0"
edition = "2021"

[features]
default = []
# serialize = ["dep:serde"]

[dependencies]
atty.workspace = true
string-interner.workspace = true
itertools.workspace = true
petgraph.workspace = true
serde.workspace = true
serde_with.workspace = true